// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Add your custom CSS/Sass styles below.
.sortable {
    cursor: pointer;
    color: $nhsuk-link-colour;
}

.sort-icon {
    display: none;
    /* hide all icons by default */
    margin-left: 0.25rem;
    vertical-align: middle;

    svg {
        width: 1rem;
        height: 1rem;
        fill: currentColor;
    }
}

/* Show double arrow by default when column is unsorted */
.sortable[aria-sort="none"] .sort-icon--default {
    display: inline-block;
}

/* Show ascending arrow */
.sortable[aria-sort="ascending"] .sort-icon--asc {
    display: inline-block;
}

/* Show descending arrow */
.sortable[aria-sort="descending"] .sort-icon--desc {
    display: inline-block;
}

.sortableAlign {
    .sortable {
        cursor: pointer;
        color: $nhsuk-link-colour;
        position: absolute;
    }
}

.sortableLink:visited{
    .sortable {
        color: $nhsuk-link-visited-colour;
    }
}